body {
    background-color: #696969;
}

#topoDaPage {
    width: 900px;
    height: auto;
}

.container {
    width: 900px;
    height: 350px;
}

.row-topPage div {
    max-width: 900px;
    height: auto;
    margin-top: 130px;
}

.row {
    width: 700px;
    height: 400px;
    margin-top: 10px;
}

.col-sm-beginPage {
    max-width: 900px;
    height: auto;
    padding-bottom: 0px;
}

.col-sm-beginPage img {
    width: 900px;
    height: 350px;
    margin-top: -127px;
}

.row {
    width: 100%;
    margin: 3px;
}

#products {
    width: 33%;
    height: 400px;
    padding: 5px;
}

#products img {
    width: 100%;
    height: 187px;
}

#logo {
    width: 100%;
    height: auto;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card {
    padding: 14px;
}

#navegacao {
    background-color: #f1f1f1;
    margin-top: 195px;
}